body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  background-color: burlywood;
  color: black;
}
.card-container {
  margin-top: 5%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: 1fr;
  justify-content: center;
  justify-self: center;
  gap: 1.5rem;
}
