.card {
  width: 25vw;
  height: 30vh;
  border: solid;
  border-radius: 32px;
  display: grid;
  grid-template-rows: 10% 70% 20%;
  grid-template-columns: 1.5fr 1fr;
  background-color: rgb(90, 89, 105);
}
h3 {
  grid-area: 1/1/2/3;
  justify-self: center;
  align-self: center;
}

img {
  grid-area: 2/1/3/2;
  border-radius: 20px;
  width: 70%;
  height: 80%;
  border-radius: 5em;
  justify-self: center;
  align-self: center;
}

p {
  grid-area: 2/2/3/3;
  justify-self: center;
  align-self: center;
}
